* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%,   #FFCC70 100%);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}


h1 {
    font-size: 80px;  
    margin: 30px; 
    color: white; 
}

img {
    padding: 10px;
    height: 250px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}

img:hover{
    box-shadow: 5px 5px 20px #FFCC70; 
}

.createButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 10px;
    padding: 10px;
    border: 0px;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

button:hover {
    box-shadow: 5px 5px 20px #FFCC70;
    cursor: pointer;
}