.gallery {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 200px;
    margin: 10px;
    border-radius: 20px;
}

.card:hover {
    cursor: pointer;
}

img {
    height: 200px;
    border-radius: 3px;
}

.createButton{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

body {
    padding-left: 100px;
    padding-right: 100px;
}