<html>
    <head>
        <title>Connect Wallet</title>
        <link rel="stylesheet" href="{{url_for('static', filename='connectwallet.css')}}">
    </head>
    <body>
        <script type="text/javascript" src="{{url_for('static', filename='web3Connect.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
        
        <!-- BODY CONTENT HERE -->
        <div class="navBar">
            <div class="mustlogo">
                <img src="{{url_for('static', filename='/images/must-logo.png')}}">
            </div>
            <div class="signout" onclick="signout()">signout.</div>
        </div>
        <div class="mainDiv">
            <div class="anotherDiv">
                <div class="elements">
                    <h1>connect wallet.</h1>
                    <button class="btn" type="button" id="connectButton">
                        <div class="image"><img src="{{url_for('static', filename='images/metamask.png')}}"></div>
                        <div class="walletName">MetaMask</div>
                    </button>
                    <button class="btn" type="button" id="connectButton">
                        <div class="image"><img src="{{url_for('static', filename='images/coinbase.png')}}"></div>
                        <div class="walletName">Coinbase Wallet</div>
                    </button>
                    <button class="btn" type="button" id="connectButton">
                        <div class="image"><img src="{{url_for('static', filename='images/trustwallet.png')}}"></div>
                        <div class="walletName">TrustWallet</div>
                    </button>
                </div>
            </div>
        </div>

        <!-- SCRIPT HERE -->
        <script type="text/javascript">
            // check if the wallet is already connected
            async function checkConnection(){
                await access();
                if (walletAddress != null || walletAddress != undefined){
                    if ("{{address}}" == "nftbooth"){
                        window.location = "/nftbooth";
                    }
                    else {
                        window.location = "/nft_marketplace/{{address}}"
                    }
                }
            }

            checkConnection()

            // VARIABLES
            var connectButton = document.getElementById("connectButton");

            // EVENT LISTENERS
            connectButton.addEventListener("click", connectWallet)

            // FUNCTIONS
            function signout(){
            window.location = "/signout";
            }
            
            async function connectWallet(){
                if(typeof window.ethereum != "undefined"){
                    const accounts = await window.ethereum.request({method: "eth_requestAccounts"})
                    .catch((e) => {
                        console.error(e.message); 
                        return;
                    });

                    // check if there is any account returned
                    if (!accounts) {
                        return;
                    }

                    // switch to polygon testnet
                    try{
                        await window.ethereum.request({
                            method: "wallet_switchEthereumChain",
                            params: [{chainId: "0x13881"}]
                        })
                    }
                    catch(switchError){
                        // This error code indicates that the chain has not been added to MetaMask.
                        if (switchError.code === 4902) {
                            try {
                            await ethereum.request({
                                method: 'wallet_addEthereumChain',
                                params: [
                                {
                                    chainId: "0x13881",
                                    chainName:"Mumbai",
                                    rpcUrls: ["https://matic-mumbai.chainstacklabs.com","https://rpc-mumbai.maticvigil.com","https://matic-testnet-archive-rpc.bwarelabs.com"],
                                    nativeCurrency:
                                    {
                                        name:"MATIC",
                                        symbol:"MATIC",
                                        decimals:18
                                    },
                                    blockExplorerUrls:["https://mumbai.polygonscan.com"]
                                },
                                ],
                            });
                            } catch (addError) {
                            // handle "add" error
                            console.error(addError.message);
                            return;
                            }
                        }
                        else{
                            return
                        }
                    }
                    // if connected successfully, redirect to nftBooth endpoint
                    if ("{{address}}" == "nftbooth"){
                        window.location = "/nftbooth";
                    }
                    else {
                        window.location = "/nft_marketplace/{{address}}"
                    }
                }
            }

        </script>
    </body>
</html>
