<html>
    <head>
        <title>Login/Signup</title>
        <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    </head>
    <body>
        <div class="login-signup">

            <div class="login">
                <div class="paddedClass">
                    <h1 class="heading">login.</h1>
                    <form class="form" action="/{{type}}/login", method="post">
                        <div class="elem">
                            <div class="email"><input type="email" name="email" id="email" placeholder="email"></div>
                            <div class="password"><input type="password" name="password", id="password" placeholder="password"></div>
                            <div class="submit"><input type="submit"></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="login">
                <div class="paddedClass">
                    <h1 class="heading">signup.</h1>
                    <form class="form" action="/{{type}}/signup", method="post">
                        <div class="elem">
                            <div class="email"><input type="email" name="email" id="email" placeholder="email"></div>
                            <div class="password"><input type="password" name="password", id="password" placeholder="password"></div>
                            <div class="submit"><input type="submit"></div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </body>
</html>