<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NFT Booth</title>
        <link rel="stylesheet" href="{{url_for('static', filename='nftbooth.css')}}">
        <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
        <script src="{{url_for('static', filename='web3Connect.js')}}"></script>
    </head>

    <body>
        <div class="main">
            <div class="heading">
                <h1>your nft.</h1>
            </div>
            <div class="gallery"></div>
            <div class="createButton">
                <button type="button" class="btn btn-info" onclick="createnftpage()">create nft.</button>
            </div>
        </div>
    </body>

    <!-- SCRIPT HERE -->
    <script>
        var contractInstance = null;
        // FUNCTIONS
        function createnftpage(){
            window.location.pathname="/createNFT"
        }

        // retrieve nfts
        retrieveNFT = async () => {
            await access();
            contractInstance = await new web3.eth.Contract(abi, addressContract);
            await contractInstance.methods.mynft(walletAddress).call({from: walletAddress})
            .then((s) => {
                s.forEach(element => {
                    var tokenId = element["tokenId"];
                    var name = element["name"];
                    var gallery = document.querySelector(".gallery")
                    var cardDiv = document.createElement("div")
                    cardDiv.setAttribute("class", "card")
                    var entry = document.createElement("img");
                    entry.src = element["imageuri"];
                    entry.addEventListener("click", ()=>{
                        window.location.pathname = "/nftbooth/"+tokenId
                    })
                    cardDiv.appendChild(entry)
                    gallery.appendChild(cardDiv)

                });		
            });
        }

        // gets called if the account is changed
        try{
            window.ethereum.on('accountsChanged', (accounts) => {
                if(accounts.length == 0){
                    window.location.pathname = "/selectbooth"
                }
                else{
                    window.location.reload()
                }
            });
        
            access();
            retrieveNFT();
        }
        catch(e){
            console.log(e.message)
        }
    </script>
</html>