<html>
    <head>
        <title>Select Booth</title>
        <link rel="stylesheet" href="{{url_for('static', filename='selectbooth.css')}}">
    </head>

    <!-- BODY OF THE PAGE -->
    <body>
        <div class="container">
            <div class="login">
                <div class="form">
                    <h1>Select booth</h1>
                    <hr>
                    <button>YouTube Booth</button>
                    <button onclick="navigate()">NFT Booth</button>
                    <button>Games Booth</button>
                </div>
            </div>
        </div>
    <body>
    
    <script>
        function navigate(){
            window.location = "/nftbooth"
        }
    </script>

</html>