<html>
    <head>
        <title>Select User Type</title>
        <link rel="stylesheet" href="{{url_for('static', filename='selectusertype.css')}}">
    </head>
<body>
    <div class="mainDiv">
        <div class="navb">
            <div class="mustlogo">
                <img src="{{url_for('static', filename='/images/must-logo.png')}}" alt="">
            </div>
        </div>
        <div class="buttons">
            <div class="elements">
                <h1>you are.</h1>
                <button type="button" id="booth" class="btn btn-info">Booth Owner</button>
                <button type="button" id="customer" class="btn btn-info">Customer</button>
            </div>  
        </div>
    </div>
</body>
<script>
    document.getElementById("booth").addEventListener("click", () => window.location.pathname = "/booth/login")
    document.getElementById("customer").addEventListener("click", () => window.location.pathname = "/customer/login")
</script>
</html>
